---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/romania
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"Romania","official":"Romania","nativeName":{"ron":{"official":"România","common":"România"}}},"tld":[".ro"],"cca2":"RO","ccn3":"642","cca3":"ROU","cioc":"ROU","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"RON":{"name":"Romanian
        leu","symbol":"lei"}},"idd":{"root":"+4","suffixes":["0"]},"capital":["Bucharest"],"altSpellings":["RO","Rumania","Roumania","România"],"region":"Europe","subregion":"Southeast
        Europe","languages":{"ron":"Romanian"},"translations":{"ara":{"official":"رومانيا","common":"رومانيا"},"bre":{"official":"Roumania","common":"Roumania"},"ces":{"official":"Rumunsko","common":"Rumunsko"},"cym":{"official":"Romania","common":"Romania"},"deu":{"official":"Rumänien","common":"Rumänien"},"est":{"official":"Rumeenia","common":"Rumeenia"},"fin":{"official":"Romania","common":"Romania"},"fra":{"official":"Roumanie","common":"Roumanie"},"hrv":{"official":"Rumunija","common":"Rumunjska"},"hun":{"official":"Románia","common":"Románia"},"ita":{"official":"Romania","common":"Romania"},"jpn":{"official":"ルーマニア","common":"ルーマニア"},"kor":{"official":"루마니아","common":"루마니아"},"nld":{"official":"Roemenië","common":"Roemenië"},"per":{"official":"رومانی","common":"رومانی"},"pol":{"official":"Rumunia","common":"Rumunia"},"por":{"official":"Romênia","common":"Roménia"},"rus":{"official":"Румыния","common":"Румыния"},"slk":{"official":"Rumunsko","common":"Rumunsko"},"spa":{"official":"Rumania","common":"Rumania"},"swe":{"official":"Rumänien","common":"Rumänien"},"tur":{"official":"Romanya","common":"Romanya"},"urd":{"official":"رومانیہ","common":"رومانیہ"},"zho":{"official":"罗马尼亚","common":"罗马尼亚"}},"latlng":[46.0,25.0],"landlocked":false,"borders":["BGR","HUN","MDA","SRB","UKR"],"area":238391.0,"demonyms":{"eng":{"f":"Romanian","m":"Romanian"},"fra":{"f":"Roumaine","m":"Roumain"}},"flag":"\uD83C\uDDF7\uD83C\uDDF4","maps":{"googleMaps":"https://goo.gl/maps/845hAgCf1mDkN3vr7","openStreetMaps":"https://www.openstreetmap.org/relation/90689"},"population":19286123,"gini":{"2018":35.8},"fifa":"ROU","car":{"signs":["RO"],"side":"right"},"timezones":["UTC+02:00"],"continents":["Europe"],"flags":{"png":"https://flagcdn.com/w320/ro.png","svg":"https://flagcdn.com/ro.svg"},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/ro.png","svg":"https://mainfacts.com/media/images/coats_of_arms/ro.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[44.43,26.1]},"postalCode":{"format":"######","regex":"^(\\d{6})$"}}]'
  recorded_at: Mon, 14 Nov 2022 23:02:31 GMT
- request:
    method: get
    uri: https://api.geoapify.com/v2/places?apiKey=<geo_api_key>&categories=tourism.sights&filter=circle:26.1,44.43,20000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","properties":{"name":"Observatorul
        Astronomic Municipal \"Amiral Vasile Urseanu\" Bucuresti","housenumber":"21","street":"Bulevardul
        Lascăr Catargiu","district":"Sector 1","city":"Bucharest","postcode":"010662","country":"Romania","country_code":"ro","lon":26.092815,"lat":44.448646,"formatted":"\"Admiral
        Vasile Urseanu\" Bucharest City Observatory, Bulevardul Lascăr Catargiu 21,
        010662 Bucharest, Romania","address_line1":"\"Admiral Vasile Urseanu\" Bucharest
        City Observatory","address_line2":"Bulevardul Lascăr Catargiu 21, 010662 Bucharest,
        Romania","categories":["entertainment","entertainment.museum","leisure","leisure.park","leisure.park.garden","man_made","tourism.sights"],"details":["details","details.contact"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"LMI":"B-II-m-B-271","name":"Observatorul
        Astronomic Municipal \"Amiral Vasile Urseanu\" Bucuresti","email":"dialog@astro-urseanu.ro","phone":"021/212.96.44","osm_id":2634651829,"leisure":"garden","name:en":"\"Admiral
        Vasile Urseanu\" Bucharest City Observatory","tourism":"museum","website":"http://www.astro-urseanu.ro","man_made":"telescope","osm_type":"n","addr:city":"București","start_date":1956,"SIRUTA:code":179141,"addr:street":"Bulevardul
        Lascăr Catargiu","museum_type":"Natural Sciences - Observatory","addr:postcode":"010662","opening_hours":"17:00-21:00;
        Mo,Tu closed","tourism_survey":"21.10.2013 14:39:41","addr:housenumber":21,"codul_entității_muzeale":7083506}},"place_id":"5107944db9c2173a4059c2d66d3b6d394640f00103f901b598099d000000009203434f627365727661746f72756c20417374726f6e6f6d6963204d756e69636970616c2022416d6972616c20566173696c652055727365616e752220427563757265737469"},"geometry":{"type":"Point","coordinates":[26.092814999999998,44.44864600051143]}},{"type":"Feature","properties":{"name":"Muzeul
        Memorial \"Dimitrie și Aurelia Ghiata\"","housenumber":"14","street":"Strada
        Doctor Jean Clunet","suburb":"Cotroceni","district":"Sector 5","city":"Bucharest","postcode":"050527","country":"Romania","country_code":"ro","lon":26.074094,"lat":44.432204,"formatted":"\"Dimitrie
        and Aurelia Ghiata\" Memorial Museum, Strada Doctor Jean Clunet 14, 050527
        Bucharest, Romania","address_line1":"\"Dimitrie and Aurelia Ghiata\" Memorial
        Museum","address_line2":"Strada Doctor Jean Clunet 14, 050527 Bucharest, Romania","categories":["entertainment","entertainment.museum","tourism","tourism.sights","tourism.sights.memorial"],"details":["details","details.contact","details.historic","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Muzeul
        Memorial \"Dimitrie și Aurelia Ghiata\"","email":"national.art@art.museum.ro","osm_id":2634651903,"name:en":"\"Dimitrie
        and Aurelia Ghiata\" Memorial Museum","tourism":"museum","historic":"memorial","osm_type":"n","wikidata":"Q18542262","addr:city":"București","start_date":1992,"SIRUTA:code":179187,"addr:street":"Strada
        Doctor Jean Clunet","addr:postcode":"050527","opening_hours":"closed","tourism_survey":"30.09.2013
        12:50:47","addr:housenumber":14,"codul_entității_muzeale":7300210}},"place_id":"516fd40ad3f7123a40595ab3ef7552374640f00103f901ff98099d0000000092032d4d757a65756c204d656d6f7269616c202244696d697472696520c8996920417572656c69612047686961746122"},"geometry":{"type":"Point","coordinates":[26.07[...]
