---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/Antigua
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"Antigua and Barbuda","official":"Antigua and Barbuda","nativeName":{"eng":{"official":"Antigua
        and Barbuda","common":"Antigua and Barbuda"}}},"tld":[".ag"],"cca2":"AG","ccn3":"028","cca3":"ATG","cioc":"ANT","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"XCD":{"name":"Eastern
        Caribbean dollar","symbol":"$"}},"idd":{"root":"+1","suffixes":["268"]},"capital":["Saint
        John''s"],"altSpellings":["AG"],"region":"Americas","subregion":"Caribbean","languages":{"eng":"English"},"translations":{"ara":{"official":"أنتيغوا
        وباربودا","common":"أنتيغوا وباربودا"},"bre":{"official":"Antigua ha Barbuda","common":"Antigua
        ha Barbuda"},"ces":{"official":"Antigua a Barbuda","common":"Antigua a Barbuda"},"cym":{"official":"Antigwa
        a Barbiwda","common":"Antigwa a Barbiwda"},"deu":{"official":"Antigua und
        Barbuda","common":"Antigua und Barbuda"},"est":{"official":"Antigua ja Barbuda","common":"Antigua
        ja Barbuda"},"fin":{"official":"Antigua ja Barbuda","common":"Antigua ja Barbuda"},"fra":{"official":"Antigua
        -et-Barbuda","common":"Antigua-et-Barbuda"},"hrv":{"official":"Antigva i Barbuda","common":"Antigva
        i Barbuda"},"hun":{"official":"Antigua és Barbuda","common":"Antigua és Barbuda"},"ita":{"official":"Antigua
        e Barbuda","common":"Antigua e Barbuda"},"jpn":{"official":"アンチグアバーブーダ","common":"アンティグア・バーブーダ"},"kor":{"official":"앤티가
        바부다","common":"앤티가 바부다"},"nld":{"official":"Antigua en Barbuda","common":"Antigua
        en Barbuda"},"per":{"official":"آنتیگوا و باربودا","common":"آنتیگوا و باربودا"},"pol":{"official":"Antigua
        i Barbuda","common":"Antigua i Barbuda"},"por":{"official":"Antigua e Barbuda","common":"Antígua
        e Barbuda"},"rus":{"official":"Антигуа и Барбуда","common":"Антигуа и Барбуда"},"slk":{"official":"Antigua
        a Barbuda","common":"Antigua a Barbuda"},"spa":{"official":"Antigua y Barbuda","common":"Antigua
        y Barbuda"},"swe":{"official":"Antigua och Barbuda","common":"Antigua och
        Barbuda"},"tur":{"official":"Antigua ve Barbuda","common":"Antigua ve Barbuda"},"urd":{"official":"اینٹیگوا
        و باربوڈا","common":"اینٹیگوا و باربوڈا"},"zho":{"official":"安提瓜和巴布达","common":"安提瓜和巴布达"}},"latlng":[17.05,-61.8],"landlocked":false,"area":442.0,"demonyms":{"eng":{"f":"Antiguan,
        Barbudan","m":"Antiguan, Barbudan"},"fra":{"f":"Antiguaise et barbudienne","m":"Antiguaise
        et barbudien"}},"flag":"\uD83C\uDDE6\uD83C\uDDEC","maps":{"googleMaps":"https://goo.gl/maps/fnye4wGJ1RzC9jpX9","openStreetMaps":"https://www.openstreetmap.org/relation/536900"},"population":97928,"fifa":"ATG","car":{"signs":["AG"],"side":"left"},"timezones":["UTC-04:00"],"continents":["North
        America"],"flags":{"png":"https://flagcdn.com/w320/ag.png","svg":"https://flagcdn.com/ag.svg"},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/ag.png","svg":"https://mainfacts.com/media/images/coats_of_arms/ag.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[17.12,-61.85]}}]'
  recorded_at: Tue, 15 Nov 2022 17:40:17 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<google_api_key>&maxResults=1&q=Antigua%20and%20Barbuda
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "MY3k3nr6IOKOtOrD5koPjyBRcG4",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 16,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "hT2IobRxJFmz5OhlOLEuFReUO2E",
              "id": {
                "kind": "youtube#video",
                "videoId": "FD_lzj9b37U"
              }
            }
          ]
        }
  recorded_at: Tue, 15 Nov 2022 17:40:18 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items(snippet(title))&id=FD_lzj9b37U&key=<google_api_key>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "items": [
            {
              "snippet": {
                "title": "A Super Quick History of Antigua (and Barbuda)"
              }
            }
          ]
        }
  recorded_at: Tue, 15 Nov 2022 17:40:18 GMT
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<unsplash_access_key>&query=Antigua%20and%20Barbuda
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<unsplash_access_key>&page=1000&query=Antigua+and+Barbuda>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<unsplash_access_key>&page=2&query=Antigua+and+Barbuda>;
        rel="next"
      X-Total:
      - '10000'
      X-Per-Page:
      - '10'
      Content-Language:
      - en
      Etag:
      - W/"9823327f2e7ba6a310b0a14afe09e0f2"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: UTF-8
      string: '{"total":10000,"total_pages":1000,"results":[{"id":"jvY9lgxQbhw","created_at":"2021-10-31T17:00:20Z","updated_at":"2022-11-14T23:23:25Z","promoted_at":null,"width":4000,"height":6000,"color":"#c0c0d9","blur_hash":"LUK1%e?aIA%gyZogozofNJjEV?bI","description":"Santa
        Catalina Arch.","alt_description":null,"urls":{"raw":"https://images.unsplash.com/photo-1635697298927-0784975caa66?ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxBbnRpZ3VhJTIwYW5kJTIwQmFyYnVkYXxlbnwwfHx8fDE2Njg1MzE5NjA\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1635697298927-0784975caa66?crop=entropy\u0026cs=tinysrgb\u0026fm=jpg\u0026ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxBbnRpZ3VhJTIwYW5kJTIwQmFyYnVkYXxlbnwwfHx8fDE2Njg1MzE5NjA\u0026ixlib=rb-4.0.3\u0026q=80","regular":"https://images.unsplash.com/photo-1635697298927-0784975caa66?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxBbnRpZ3VhJTIwYW5kJTIwQmFyYnVkYXxlbnwwfHx8fDE2Njg1MzE5NjA\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1635697298927-0784975caa66?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxBbnRpZ3VhJTIwYW5kJTIwQmFyYnVkYXxlbnwwfHx8fDE2Njg1MzE5NjA\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1635697298927-0784975caa66?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxBbnRpZ3VhJTIwYW5kJTIwQmFyYnVkYXxlbnwwfHx8fDE2Njg1MzE5NjA\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1635697298927-0784975caa66"},"links":{"self":"https://api.unsplash.com/photos/jvY9lgxQbhw","html":"https://unsplash.com/photos/jvY9lgxQbhw","download":"https://unsplash.com/photos/jvY9lgxQbhw/download?ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxBbnRpZ3VhJTIwYW5kJTIwQmFyYnVkYXxlbnwwfHx8fDE2Njg1MzE5NjA","download_location":"https://api.unsplash.com/photos/jvY9lgxQbhw/download?ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxBbnRpZ3VhJTIwYW5kJTIwQmFyYnVkYXxlbnwwfHx8fDE2Njg1MzE5NjA"},"likes":6,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{"architecture-interior":{"status":"rejected"}},"user":{"id":"1lF6B6s41oc","updated_at":"2022-10-12T11:40:46Z","username":"daveslmnca","name":"David
        Salamanca","first_name":"David","last_name":"Salamanca","twitter_username":"Daveslmnca","portfolio_url":"http://instagram.com/daveslmnca","bio":"Immigrant
        creating content.","location":"Italy","links":{"self":"https://api.unsplash.com/users/daveslmnca","html":"https://unsplash.com/@daveslmnca","photos":"https://api.unsplash.com/users/daveslmnca/photos","likes":"https://api.unsplash.com/users/daveslmnca/likes","portfolio":"https://api.unsplash.com/users/daveslmnca/portfolio","following":"https://api.unsplash.com/users/daveslmnca/following","followers":"https://api.unsplash.com/users/daveslmnca/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1608803049286-e4374cc07387image?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1608803049286-e4374cc07387image?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1608803049286-e4374cc07387image?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"Daveslmnca","total_collections":6,"total_likes":7,"total_photos":134,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"Daveslmnca","portfolio_url":"http://instagram.com/daveslmnca","twitter_username":"Daveslmnca","paypal_email":null}},"tags":[{"type":"search","title":"antigua
        guatemala"}]},{"id":"FnM9jQ66nU0","created_at":"2022-06-01T00:33:52Z","updated_at":"2022-11-15T02:28:27Z","promoted_at":null,"width":4032,"height":3024,"color":"#a6a68c","blur_hash":"LTG05_t7ayof18j[jZayp0WBjsay","description":"Sea,
        Antigua and Barbuda, clear , water","alt_description":null,"urls":{"raw":"https://images.unsplash.com/photo-1654043621928-c29594c13336?ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwyfHxBbnRpZ3VhJTIwYW5kJTIwQmFyYnVkYXxlbnwwfHx8fDE2Njg1MzE5N[...]
