---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=3dd5fb33&app_key=<recipe_app_key>&q=Malawi&random=true&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":4,"count":4,"_links":{},"hits":[{"recipe":{"uri":"http://www.edamam.com/ontologies/edamam.owl#recipe_a54958ae357e1169bd7679e5f328b7fa","label":"Nsima","image":"https://edamam-product-images.s3.amazonaws.com/web-img/078/0785b3bdca89cdb9c78aa3a9433e4f06.jpg?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEMj%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIDYoYS4nZsrAce6SnGQX0ek8fkCEqIAcjJKnWQaOxfWkAiEA6sXkYUU9W3YH8EUt74FZ5xlxqhJkunwTZ43OADsy1o8q1QQIwf%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgwxODcwMTcxNTA5ODYiDJDzXaLHAc4Z7lAWMSqpBPE%2BuW1rRMkD5YX1KhHu4QZVdrthXscwp%2FSgtQJzkmgMygW93TgxDOV%2BF6J62alkZP1H6sOQrDZdiIalKI1VvsiWwdsd%2Fh%2Fap0Cxh3sgVNjW9dYaOn36bqXN86%2BALe[...]
