---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/Uruguay
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"Uruguay","official":"Oriental Republic of Uruguay","nativeName":{"spa":{"official":"República
        Oriental del Uruguay","common":"Uruguay"}}},"tld":[".uy"],"cca2":"UY","ccn3":"858","cca3":"URY","cioc":"URU","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"UYU":{"name":"Uruguayan
        peso","symbol":"$"}},"idd":{"root":"+5","suffixes":["98"]},"capital":["Montevideo"],"altSpellings":["UY","Oriental
        Republic of Uruguay","República Oriental del Uruguay"],"region":"Americas","subregion":"South
        America","languages":{"spa":"Spanish"},"translations":{"ara":{"official":"جمهورية
        الأوروغواي الشرقية","common":"الأوروغواي"},"bre":{"official":"Republik Reter
        Uruguay","common":"Uruguay"},"ces":{"official":"Uruguayská východní republika","common":"Uruguay"},"cym":{"official":"Oriental
        Republic of Uruguay","common":"Uruguay"},"deu":{"official":"Republik Östlich
        des Uruguay","common":"Uruguay"},"est":{"official":"Uruguay Idavabariik","common":"Uruguay"},"fin":{"official":"Uruguayn
        itäinen tasavalta","common":"Uruguay"},"fra":{"official":"République orientale
        de l''Uruguay","common":"Uruguay"},"hrv":{"official":"Orijentalna Republika
        Urugvaj","common":"Urugvaj"},"hun":{"official":"Uruguayi Keleti Köztársaság","common":"Uruguay"},"ita":{"official":"Repubblica
        Orientale dell''Uruguay","common":"Uruguay"},"jpn":{"official":"ウルグアイ東方共和国","common":"ウルグアイ"},"kor":{"official":"우루과이
        동방 공화국","common":"우루과이"},"nld":{"official":"Oosterse Republiek Uruguay","common":"Uruguay"},"per":{"official":"جمهوری
        اروگوئه","common":"اروگوئه"},"pol":{"official":"Wschodnia Republika Urugwaju","common":"Urugwaj"},"por":{"official":"República
        Oriental do Uruguai","common":"Uruguai"},"rus":{"official":"Восточной Республики
        Уругвай","common":"Уругвай"},"slk":{"official":"Uruguajská východná republika","common":"Uruguaj"},"spa":{"official":"República
        Oriental del Uruguay","common":"Uruguay"},"swe":{"official":"Republiken Uruguay","common":"Uruguay"},"tur":{"official":"Uruguay
        Doğu Cumhuriyeti","common":"Uruguay"},"urd":{"official":"جمہوریہ شرقیہ یوراگوئے","common":"یوراگوئے"},"zho":{"official":"乌拉圭东岸共和国","common":"乌拉圭"}},"latlng":[-33.0,-56.0],"landlocked":false,"borders":["ARG","BRA"],"area":181034.0,"demonyms":{"eng":{"f":"Uruguayan","m":"Uruguayan"},"fra":{"f":"Uruguayenne","m":"Uruguayen"}},"flag":"\uD83C\uDDFA\uD83C\uDDFE","maps":{"googleMaps":"https://goo.gl/maps/tiQ9Baekb1jQtDSD9","openStreetMaps":"https://www.openstreetmap.org/relation/287072"},"population":3473727,"gini":{"2019":39.7},"fifa":"URU","car":{"signs":["ROU"],"side":"right"},"timezones":["UTC-03:00"],"continents":["South
        America"],"flags":{"png":"https://flagcdn.com/w320/uy.png","svg":"https://flagcdn.com/uy.svg"},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/uy.png","svg":"https://mainfacts.com/media/images/coats_of_arms/uy.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[-34.85,-56.17]},"postalCode":{"format":"#####","regex":"^(\\d{5})$"}}]'
  recorded_at: Mon, 14 Nov 2022 17:35:31 GMT
- request:
    method: get
    uri: https://api.geoapify.com/v2/places?apiKey=<geo_api_key>&categories=tourism.sights&filter=circle:-56.17,-34.85,20000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","properties":{"name":"Castillo
        Pittamiglio","housenumber":"633","street":"Rambla Mahatma Gandhi","suburb":"Punta
        Carretas","city":"Montevideo","state":"Montevideo","postcode":"11303","country":"Uruguay","country_code":"uy","lon":-56.1498357,"lat":-34.9209974,"formatted":"Castillo
        Pittamiglio, Rambla Mahatma Gandhi 633, 11303 Montevideo, Uruguay","address_line1":"Castillo
        Pittamiglio","address_line2":"Rambla Mahatma Gandhi 633, 11303 Montevideo,
        Uruguay","categories":["tourism","tourism.sights","tourism.sights.castle"],"details":["details","details.contact","details.historic","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Castillo
        Pittamiglio","phone":"+598 2710 1089","osm_id":2670736298,"historic":"castle","osm_type":"n","wikidata":"Q5756981","addr:city":"Montevideo","addr:street":"Rambla
        Mahatma Gandhi","castle_type":"stately","addr:country":"UY","opening_hours":"Tu,Th,Sa,Su
        17:00","addr:housenumber":633}},"place_id":"51faa2f3d02d134cc0597213283ee37541c0f00103f901aa33309f0000000092031443617374696c6c6f2050697474616d69676c696f"},"geometry":{"type":"Point","coordinates":[-56.1498357,-34.92099739987215]}},{"type":"Feature","properties":{"name":"Faro
        de Punta Carretas","street":"Vehicular/ Peatonal","suburb":"Punta Carretas","city":"Montevideo","state":"Montevideo","postcode":"11303","country":"Uruguay","country_code":"uy","lon":-56.160545714785414,"lat":-34.9352356,"formatted":"Faro
        de Punta Carretas, Vehicular/ Peatonal, 11303 Montevideo, Uruguay","address_line1":"Faro
        de Punta Carretas","address_line2":"Vehicular/ Peatonal, 11303 Montevideo,
        Uruguay","categories":["man_made","man_made.lighthouse","tourism","tourism.attraction","tourism.attraction.viewpoint","tourism.sights","tourism.sights.lighthouse"],"details":["details","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Faro
        de Punta Carretas","price":35,"osm_id":179735088,"tourism":"viewpoint","man_made":"lighthouse","osm_type":"w","wikidata":"Q7260513","wikipedia":"en:Punta
        Brava Lighthouse","opening_hours":"Mo-Su 10:00-13:00, 14:30-sunset"}},"place_id":"514f95ee648c144cc05911712acfb57741c0f00102f901308ab60a000000009203164661726f2064652050756e7461204361727265746173"},"geometry":{"type":"Point","coordinates":[-56.16053449296543,-34.935235877727]}},{"type":"Feature","properties":{"name":"Obelisco
        a los Constituyentes de 1830","street":"Avenida Doctor Luis Morquio","suburb":"Tres
        Cruces","city":"Montevideo","state":"Montevideo","postcode":"11601","country":"Uruguay","country_code":"uy","lon":-56.1643928,"lat":-34.8973776,"formatted":"Obelisco
        a los Constituyentes de 1830, Avenida Doctor Luis Morquio, 11601 Montevideo,
        Uruguay","address_line1":"Obelisco a los Constituyentes de 1830","address_line2":"Avenida
        Doctor Luis Morquio, 11601 Montevideo, Uruguay","categories":["tourism","tourism.attraction","tourism.sights","tourism.sights.memorial","tourism.sights.memorial.monument"],"details":["details","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Obelisco
        a los Constituyentes de 1830","osm_id":642809502,"tourism":"attraction","website":"https://www.montevideo.gub.uy/ciudad-y-cultura/arquitectura-y-patrimonio/obelisco-a-los-constituyentes","historic":"monument","osm_type":"n","wikidata":"Q1726492","wikipedia":"en:Obelisk
        of Montevideo"}},"place_id":"5153d9c1d20a154cc059d6cbe944dd7241c0f00103f9019e7e5026000000009203254f62656c6973636f2061206c6f7320436f6e737469747579656e7465732064652031383330"},"geometry":{"type":"Point","coordinates":[-56.164392799999995,-34.89737759986717]}},{"type":"Feature","properties":{"name":"Portería
        Primer Gol Mundial","street":"Coronel Alegre","suburb":"Pocitos","city":"Montevideo","state":"Montevideo","postcode":"11300","country":"Uruguay","country_code":"uy","lon":-56.1562213,"lat":-34.9044863,"formatted":"Portería
        Primer Gol Mundial, Coronel Alegre, 11300 Montevideo, Uruguay","address_line1":"Portería
        Primer Gol Mundial","address_line2":"Coronel Alegre, 11300 Montevideo, Uruguay","categories":["tourism","tourism.attraction","tourism.sights","tourism.sights.memorial"],"details":["details","details.historic","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Portería
        Primer Gol Mundial","osm_id":3200746261,"tourism":"attraction","historic":"memorial","memorial":"stone","osm_type":"n","wikipedia":"es:Estadio
        Pocitos","description":"Portería del campo de fúlbol de los Pocitos, donde
        Lucien Laurent marcó el primer gol de la historia de los mundiales de fútbol,
        el 13 de Julio de 1930","opening_hours":"24/7"}},"place_id":"5124383f0fff134cc059d9ce0235c67341c0f00103f9011583c7be0000000092031c506f72746572c3ad61205072696d657220476f6c204d756e6469616c"},"geometry":{"type":"Point","coordinates":[-56.1562213,-34.90448629986867]}},{"type":"Feature","properties":{"name":"Centro
        de Campo de Fútbol de los Pocitos",[...]
