---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/Malawi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"Malawi","official":"Republic of Malawi","nativeName":{"eng":{"official":"Republic
        of Malawi","common":"Malawi"},"nya":{"official":"Chalo cha Malawi, Dziko la
        Malaŵi","common":"Malaŵi"}}},"tld":[".mw"],"cca2":"MW","ccn3":"454","cca3":"MWI","cioc":"MAW","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"MWK":{"name":"Malawian
        kwacha","symbol":"MK"}},"idd":{"root":"+2","suffixes":["65"]},"capital":["Lilongwe"],"altSpellings":["MW","Republic
        of Malawi"],"region":"Africa","subregion":"Eastern Africa","languages":{"eng":"English","nya":"Chewa"},"translations":{"ara":{"official":"جمهورية
        مالاوي","common":"مالاوي"},"bre":{"official":"Republik Malawi","common":"Malawi"},"ces":{"official":"Malawiská
        republika","common":"Malawi"},"cym":{"official":"Republic of Malawi","common":"Malawi"},"deu":{"official":"Republik
        Malawi","common":"Malawi"},"est":{"official":"Malawi Vabariik","common":"Malawi"},"fin":{"official":"Malawin
        tasavalta","common":"Malawi"},"fra":{"official":"République du Malawi","common":"Malawi"},"hrv":{"official":"Republika
        Malavi","common":"Malavi"},"hun":{"official":"Malawi Köztársaság","common":"Malawi"},"ita":{"official":"Repubblica
        del Malawi","common":"Malawi"},"jpn":{"official":"マラウイ共和国","common":"マラウイ"},"kor":{"official":"말라위
        공화국","common":"말라위"},"nld":{"official":"Republiek Malawi","common":"Malawi"},"per":{"official":"جمهوری
        مالاوی","common":"مالاوی"},"pol":{"official":"Republika Malawi","common":"Malawi"},"por":{"official":"República
        do Malawi","common":"Malawi"},"rus":{"official":"Республика Малави","common":"Малави"},"slk":{"official":"Malawijská
        republika","common":"Malawi"},"spa":{"official":"República de Malawi","common":"Malawi"},"swe":{"official":"Republiken
        Malawi","common":"Malawi"},"tur":{"official":"Malavi Cumhuriyeti","common":"Malavi"},"urd":{"official":"جمہوریہ
        ملاوی","common":"ملاوی"},"zho":{"official":"马拉维共和国","common":"马拉维"}},"latlng":[-13.5,34.0],"landlocked":true,"borders":["MOZ","TZA","ZMB"],"area":118484.0,"demonyms":{"eng":{"f":"Malawian","m":"Malawian"},"fra":{"f":"Malawienne","m":"Malawien"}},"flag":"\uD83C\uDDF2\uD83C\uDDFC","maps":{"googleMaps":"https://goo.gl/maps/mc6z83pW9m98X2Ef6","openStreetMaps":"https://www.openstreetmap.org/relation/195290"},"population":19129955,"gini":{"2016":44.7},"fifa":"MWI","car":{"signs":["MW"],"side":"left"},"timezones":["UTC+02:00"],"continents":["Africa"],"flags":{"png":"https://flagcdn.com/w320/mw.png","svg":"https://flagcdn.com/mw.svg"},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/mw.png","svg":"https://mainfacts.com/media/images/coats_of_arms/mw.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[-13.97,33.78]}}]'
  recorded_at: Tue, 15 Nov 2022 16:23:18 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<google_api_key>&maxResults=1&q=Malawi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "1z8CeAG6VNDF19ULm_SxWjbR4kk",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 21,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "bmFOl_IMa3WPlhx5uhq7pzgj7Bo",
              "id": {
                "kind": "youtube#video",
                "videoId": "QcJowpMp5qQ"
              }
            }
          ]
        }
  recorded_at: Tue, 15 Nov 2022 16:23:18 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items(snippet(title))&id=QcJowpMp5qQ&key=<google_api_key>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "items": [
            {
              "snippet": {
                "title": "A Super Quick History of Malawi"
              }
            }
          ]
        }
  recorded_at: Tue, 15 Nov 2022 16:23:18 GMT
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<unsplash_access_key>&query=Malawi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<unsplash_access_key>&page=12&query=Malawi>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<unsplash_access_key>&page=2&query=Malawi>;
        rel="next"
      X-Total:
      - '115'
      X-Per-Page:
      - '10'
      Content-Language:
      - en
      Etag:
      - W/"153856ba25156abd131d0d62f60ea0bd"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: UTF-8
      string: '{"total":115,"total_pages":12,"results":[{"id":"zGuwHRohI8Y","created_at":"2022-05-26T08:30:04Z","updated_at":"2022-11-14T08:29:35Z","promoted_at":null,"width":5295,"height":3456,"color":"#8c7359","blur_hash":"LCG*fw~S56Io0LafxajaMyxGkDj]","description":"Spider
        by Craig Manners","alt_description":null,"urls":{"raw":"https://images.unsplash.com/photo-1653553492170-e00b808a0290?ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxNYWxhd2l8ZW58MHx8fHwxNjY4NDY3Mzcx\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1653553492170-e00b808a0290?crop=entropy\u0026cs=tinysrgb\u0026fm=jpg\u0026ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxNYWxhd2l8ZW58MHx8fHwxNjY4NDY3Mzcx\u0026ixlib=rb-4.0.3\u0026q=80","regular":"https://images.unsplash.com/photo-1653553492170-e00b808a0290?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxNYWxhd2l8ZW58MHx8fHwxNjY4NDY3Mzcx\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1653553492170-e00b808a0290?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxNYWxhd2l8ZW58MHx8fHwxNjY4NDY3Mzcx\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1653553492170-e00b808a0290?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxNYWxhd2l8ZW58MHx8fHwxNjY4NDY3Mzcx\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1653553492170-e00b808a0290"},"links":{"self":"https://api.unsplash.com/photos/zGuwHRohI8Y","html":"https://unsplash.com/photos/zGuwHRohI8Y","download":"https://unsplash.com/photos/zGuwHRohI8Y/download?ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxNYWxhd2l8ZW58MHx8fHwxNjY4NDY3Mzcx","download_location":"https://api.unsplash.com/photos/zGuwHRohI8Y/download?ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxNYWxhd2l8ZW58MHx8fHwxNjY4NDY3Mzcx"},"likes":1,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{"wallpapers":{"status":"rejected"},"nature":{"status":"rejected"},"textures-patterns":{"status":"rejected"},"animals":{"status":"rejected"}},"user":{"id":"vTnMCIhC4Do","updated_at":"2022-11-14T21:19:33Z","username":"craigmanners_com","name":"Craig
        Manners","first_name":"Craig","last_name":"Manners","twitter_username":"craigmanners1","portfolio_url":"https://www.craigmanners.com/","bio":"For
        more photos please visit: https://www.craigmanners.com/\r\nTo buy me a coffee:
        https://www.buymeacoffee.com/craigmanners or at https://www.craigmanners.com/payments.html  or
        https://www.coinbase.com/join/OMVPEY","location":"Australia. ","links":{"self":"https://api.unsplash.com/users/craigmanners_com","html":"https://unsplash.com/@craigmanners_com","photos":"https://api.unsplash.com/users/craigmanners_com/photos","likes":"https://api.unsplash.com/users/craigmanners_com/likes","portfolio":"https://api.unsplash.com/users/craigmanners_com/portfolio","following":"https://api.unsplash.com/users/craigmanners_com/following","followers":"https://api.unsplash.com/users/craigmanners_com/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1645956897760-1b193ad7f858image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1645956897760-1b193ad7f858image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1645956897760-1b193ad7f858image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"CraigManners1","total_collections":10,"total_likes":4,"total_photos":238,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"CraigManners1","portfolio_url":"https://www.craigmanners.com/","twitter_username":"craigmanners1","paypal_email":null}},"tags":[{"type":"search","title":"malawi"}]},{"id":"P3Nm0JEp2LI","created_at":"2022-07-27T08:27:18Z","updated_at":"2022-11-14T21:29:04Z","promoted_at":null,"width":4431,"height":3236,"color":"#d9c08c","blur_hash":"LMKAJ~V@$~W,~T9vE2f*RkD,IpIW","description":"African
        Elephants, Liwonde National Park, Malawi by Craig Manners","alt_description":null,"urls":{"raw":"https://images.unsplash.com/photo-1658910332023-3b1d1a4761fc?ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwyfHxNYWxhd2l8ZW58MHx8fHwxNjY4NDY3Mzcx\u0026ixlib=rb[...]
