---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<google_api_key>&maxResults=1&q=Malawi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "ho-YS0idh9slNAU4Wt5Ok2-8Fd0",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 19,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "bmFOl_IMa3WPlhx5uhq7pzgj7Bo",
              "id": {
                "kind": "youtube#video",
                "videoId": "QcJowpMp5qQ"
              }
            }
          ]
        }
  recorded_at: Sun, 13 Nov 2022 16:22:42 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items(snippet(title))&id=QcJowpMp5qQ&key=<google_api_key>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "items": [
            {
              "snippet": {
                "title": "A Super Quick History of Malawi"
              }
            }
          ]
        }
  recorded_at: Sun, 13 Nov 2022 16:22:42 GMT
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<unsplash_access_key>&query=Malawi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<unsplash_access_key>&page=12&query=Malawi>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<unsplash_access_key>&page=2&query=Malawi>;
        rel="next"
      X-Total:
      - '115'
      X-Per-Page:
      - '10'
      Content-Language:
      - en
      Etag:
      - W/"4158d348508818c795bdcbe939de5ee3"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: '{"total":115,"total_pages":12,"results":[{"id":"zGuwHRohI8Y","created_at":"2022-05-26T08:30:04Z","updated_at":"2022-11-12T08:29:01Z","promoted_at":null,"width":5295,"height":3456,"color":"#8c7359","blur_hash":"LCG*fw~S56Io0LafxajaMyxGkDj]","description":"Spider
        by Craig Manners","alt_description":null,"urls":{"raw":"https://images.unsplash.com/photo-1653553492170-e00b808a0290?ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxNYWxhd2l8ZW58MHx8fHwxNjY4Mjc5MjQw\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1653553492170-e00b808a0290?crop=entropy\u0026cs=tinysrgb\u0026fm=jpg\u0026ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxNYWxhd2l8ZW58MHx8fHwxNjY4Mjc5MjQw\u0026ixlib=rb-4.0.3\u0026q=80","regular":"https://images.unsplash.com/photo-1653553492170-e00b808a0290?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxNYWxhd2l8ZW58MHx8fHwxNjY4Mjc5MjQw\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1653553492170-e00b808a0290?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxNYWxhd2l8ZW58MHx8fHwxNjY4Mjc5MjQw\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1653553492170-e00b808a0290?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxNYWxhd2l8ZW58MHx8fHwxNjY4Mjc5MjQw\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1653553492170-e00b808a0290"},"links":{"self":"https://api.unsplash.com/photos/zGuwHRohI8Y","html":"https://unsplash.com/photos/zGuwHRohI8Y","download":"https://unsplash.com/photos/zGuwHRohI8Y/download?ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxNYWxhd2l8ZW58MHx8fHwxNjY4Mjc5MjQw","download_location":"https://api.unsplash.com/photos/zGuwHRohI8Y/download?ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxNYWxhd2l8ZW58MHx8fHwxNjY4Mjc5MjQw"},"likes":1,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{"nature":{"status":"rejected"},"textures-patterns":{"status":"rejected"},"animals":{"status":"rejected"},"wallpapers":{"status":"rejected"}},"user":{"id":"vTnMCIhC4Do","updated_at":"2022-11-12T00:16:34Z","username":"craigmanners_com","name":"Craig
        Manners","first_name":"Craig","last_name":"Manners","twitter_username":"craigmanners1","portfolio_url":"https://www.craigmanners.com/","bio":"For
        more photos please visit: https://www.craigmanners.com/\r\nTo buy me a coffee:
        https://www.buymeacoffee.com/craigmanners or at https://www.craigmanners.com/payments.html  or
        https://www.coinbase.com/join/OMVPEY","location":"Australia. ","links":{"self":"https://api.unsplash.com/users/craigmanners_com","html":"https://unsplash.com/@craigmanners_com","photos":"https://api.unsplash.com/users/craigmanners_com/photos","likes":"https://api.unsplash.com/users/craigmanners_com/likes","portfolio":"https://api.unsplash.com/users/craigmanners_com/portfolio","following":"https://api.unsplash.com/users/craigmanners_com/following","followers":"https://api.unsplash.com/users/craigmanners_com/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1645956897760-1b193ad7f858image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1645956897760-1b193ad7f858image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1645956897760-1b193ad7f858image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"CraigManners1","total_collections":10,"total_likes":4,"total_photos":231,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"CraigManners1","portfolio_url":"https://www.craigmanners.com/","twitter_username":"craigmanners1","paypal_email":null}},"tags":[{"type":"search","title":"malawi"}]},{"id":"P3Nm0JEp2LI","created_at":"2022-07-27T08:27:18Z","updated_at":"2022-11-11T21:30:59Z","promoted_at":null,"width":4431,"height":3236,"color":"#d9c08c","blur_hash":"LMKAJ~V@$~W,~T9vE2f*RkD,IpIW","description":"African
        Elephants, Liwonde National Park, Malawi by Craig Manners","alt_description":null,"urls":{"raw":"https://images.unsplash.com/photo-1658910332023-3b1d1a4761fc?ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwyfHxNYWxhd2l8ZW58MHx8fHwxNjY4Mjc5MjQw\u0026ixlib=rb[...]
