---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/france
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"France","official":"French Republic","nativeName":{"fra":{"official":"République
        française","common":"France"}}},"tld":[".fr"],"cca2":"FR","ccn3":"250","cca3":"FRA","cioc":"FRA","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"EUR":{"name":"Euro","symbol":"€"}},"idd":{"root":"+3","suffixes":["3"]},"capital":["Paris"],"altSpellings":["FR","French
        Republic","République française"],"region":"Europe","subregion":"Western Europe","languages":{"fra":"French"},"translations":{"ara":{"official":"الجمهورية
        الفرنسية","common":"فرنسا"},"bre":{"official":"Republik Frañs","common":"Frañs"},"ces":{"official":"Francouzská
        republika","common":"Francie"},"cym":{"official":"French Republic","common":"France"},"deu":{"official":"Französische
        Republik","common":"Frankreich"},"est":{"official":"Prantsuse Vabariik","common":"Prantsusmaa"},"fin":{"official":"Ranskan
        tasavalta","common":"Ranska"},"fra":{"official":"République française","common":"France"},"hrv":{"official":"Francuska
        Republika","common":"Francuska"},"hun":{"official":"Francia Köztársaság","common":"Franciaország"},"ita":{"official":"Repubblica
        francese","common":"Francia"},"jpn":{"official":"フランス共和国","common":"フランス"},"kor":{"official":"프랑스
        공화국","common":"프랑스"},"nld":{"official":"Franse Republiek","common":"Frankrijk"},"per":{"official":"جمهوری
        فرانسه","common":"فرانسه"},"pol":{"official":"Republika Francuska","common":"Francja"},"por":{"official":"República
        Francesa","common":"França"},"rus":{"official":"Французская Республика","common":"Франция"},"slk":{"official":"Francúzska
        republika","common":"Francúzsko"},"spa":{"official":"República francés","common":"Francia"},"swe":{"official":"Republiken
        Frankrike","common":"Frankrike"},"tur":{"official":"Fransa Cumhuriyeti","common":"Fransa"},"urd":{"official":"جمہوریہ
        فرانس","common":"فرانس"},"zho":{"official":"法兰西共和国","common":"法国"}},"latlng":[46.0,2.0],"landlocked":false,"borders":["AND","BEL","DEU","ITA","LUX","MCO","ESP","CHE"],"area":551695.0,"demonyms":{"eng":{"f":"French","m":"French"},"fra":{"f":"Française","m":"Français"}},"flag":"\uD83C\uDDEB\uD83C\uDDF7","maps":{"googleMaps":"https://goo.gl/maps/g7QxxSFsWyTPKuzd7","openStreetMaps":"https://www.openstreetmap.org/relation/1403916"},"population":67391582,"gini":{"2018":32.4},"fifa":"FRA","car":{"signs":["F"],"side":"right"},"timezones":["UTC-10:00","UTC-09:30","UTC-09:00","UTC-08:00","UTC-04:00","UTC-03:00","UTC+01:00","UTC+02:00","UTC+03:00","UTC+04:00","UTC+05:00","UTC+10:00","UTC+11:00","UTC+12:00"],"continents":["Europe"],"flags":{"png":"https://flagcdn.com/w320/fr.png","svg":"https://flagcdn.com/fr.svg"},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/fr.png","svg":"https://mainfacts.com/media/images/coats_of_arms/fr.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[48.87,2.33]},"postalCode":{"format":"#####","regex":"^(\\d{5})$"}}]'
  recorded_at: Tue, 15 Nov 2022 16:23:19 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<google_api_key>&maxResults=1&q=France
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "uB7ZxQN5eVngZeRMp9B1fiiv9MA",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 61,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "Z2M4mb98VP62RQanJPUX61X7gPg",
              "id": {
                "kind": "youtube#video",
                "videoId": "I22A32uBvRo"
              }
            }
          ]
        }
  recorded_at: Tue, 15 Nov 2022 16:23:19 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items(snippet(title))&id=I22A32uBvRo&key=<google_api_key>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "items": [
            {
              "snippet": {
                "title": "A Super Quick History of France"
              }
            }
          ]
        }
  recorded_at: Tue, 15 Nov 2022 16:23:19 GMT
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<unsplash_access_key>&query=France
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<unsplash_access_key>&page=1000&query=France>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<unsplash_access_key>&page=2&query=France>;
        rel="next"
      X-Total:
      - '10000'
      X-Per-Page:
      - '10'
      Content-Language:
      - en
      Etag:
      - W/"b3d5a6730c4d2cf0feb47d1299798f9e"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: '{"total":10000,"total_pages":1000,"results":[{"id":"Hf4Ap1-ef40","created_at":"2016-08-19T16:15:52Z","updated_at":"2022-11-14T14:00:56Z","promoted_at":"2016-08-19T16:15:52Z","width":2859,"height":4096,"color":"#c0c0c0","blur_hash":"LFGbn+s:WUWB~p-;WBR*%2M{Rjof","description":"Bicycle
        with French buildings","alt_description":"bike leaning against handrail in
        front of concrete building at daytime","urls":{"raw":"https://images.unsplash.com/photo-1471623320832-752e8bbf8413?ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxGcmFuY2V8ZW58MHx8fHwxNjY4NDY3MjQ4\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1471623320832-752e8bbf8413?crop=entropy\u0026cs=tinysrgb\u0026fm=jpg\u0026ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxGcmFuY2V8ZW58MHx8fHwxNjY4NDY3MjQ4\u0026ixlib=rb-4.0.3\u0026q=80","regular":"https://images.unsplash.com/photo-1471623320832-752e8bbf8413?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxGcmFuY2V8ZW58MHx8fHwxNjY4NDY3MjQ4\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1471623320832-752e8bbf8413?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxGcmFuY2V8ZW58MHx8fHwxNjY4NDY3MjQ4\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1471623320832-752e8bbf8413?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxGcmFuY2V8ZW58MHx8fHwxNjY4NDY3MjQ4\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1471623320832-752e8bbf8413"},"links":{"self":"https://api.unsplash.com/photos/Hf4Ap1-ef40","html":"https://unsplash.com/photos/Hf4Ap1-ef40","download":"https://unsplash.com/photos/Hf4Ap1-ef40/download?ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxGcmFuY2V8ZW58MHx8fHwxNjY4NDY3MjQ4","download_location":"https://api.unsplash.com/photos/Hf4Ap1-ef40/download?ixid=MnwzODAxNjh8MHwxfHNlYXJjaHwxfHxGcmFuY2V8ZW58MHx8fHwxNjY4NDY3MjQ4"},"likes":3735,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{"nature":{"status":"approved","approved_on":"2020-04-06T14:20:18Z"}},"user":{"id":"k1Rq8ji2l24","updated_at":"2022-11-10T00:51:52Z","username":"heytowner","name":"JOHN
        TOWNER","first_name":"JOHN","last_name":"TOWNER","twitter_username":null,"portfolio_url":"http://www.townerphoto.com","bio":"Professional
        commercial lifestyle and automotive photographer/director, hobbyist travel
        and landscape photographer.\r\n\r\n","location":"Atlanta, GA","links":{"self":"https://api.unsplash.com/users/heytowner","html":"https://unsplash.com/@heytowner","photos":"https://api.unsplash.com/users/heytowner/photos","likes":"https://api.unsplash.com/users/heytowner/likes","portfolio":"https://api.unsplash.com/users/heytowner/portfolio","following":"https://api.unsplash.com/users/heytowner/following","followers":"https://api.unsplash.com/users/heytowner/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1470114715105-26f21151d595?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1470114715105-26f21151d595?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1470114715105-26f21151d595?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"heytowner","total_collections":1,"total_likes":61,"total_photos":51,"accepted_tos":false,"for_hire":true,"social":{"instagram_username":"heytowner","portfolio_url":"http://www.townerphoto.com","twitter_username":null,"paypal_email":null}},"tags":[{"type":"landing_page","title":"paris","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"travel","pretty_slug":"Travel"},"subcategory":{"slug":"paris","pretty_slug":"Paris"}},"title":"Paris
        pictures \u0026 images","subtitle":"Download free paris images","description":"Choose
        from a curated selection of Paris photos. Always free on Unsplash.","meta_title":"Best
        20+ Stunning Paris Pictures [Scenic Travel Photos] | Download Free Images
        on Unsplash","meta_description":"Choose from hundreds of free Paris pictures.
        Download HD Paris photos for free on Unsplash.","cover_photo":{"id":"nnzkZNYWHaU","created_at":"2017-08-13T05:43:31Z","updated_at":"2022-10-16T23:01:50Z","promoted_at":null,"width":5309,"height":3530,"color":"#d9c0c0","blur_hash":"LjHUneR,I;IoNfIot6xZ0ft7s.j[","description":null,"alt_description":"Eiffel
        Tower, Paris France","urls":{"raw":"https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-1.2.1\u0026q=80\u0026cs=tinysrgb\u0026fm=jpg\u0026crop=entropy","regular":"https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-1.2.1\u0026w=1080\u0026fit=max\u0026q=80\u0026fm=jpg\u0026crop=entropy\u0026cs=tinysrgb","small":"https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-1.2.1\u0026w=400\u0026fit=max\u0026q=80\u0026fm=jpg\u0026crop=entropy\u0026cs=tinysrgb","thumb":"https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-1.2.1\u0026w=200\u0026fit=max\u0026q=80\u0026fm=jpg\u0026crop=entropy\u0026cs=tinysrgb","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1502602898657-3e91760cbb34"},"links":{"self":"https://api.unsplash.com/photos/nnzkZNYWHaU","html":"https://unsplash.com/photos/nnzkZNYWHaU","download":"https://unsplash.com/photos/nnzkZNYWHaU/download","download_location":"https://api.unsplash.com/photos/nnzkZNYWHaU/download"},"likes":1329,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"premium":false,"user":{"id":"o-Lvl_IvuR4","updated_at":"2022-10-12T01:20:23Z","username":"chriskaridis","name":"Chris
        Karidis","first_name":"Chris","last_name":"Karidis","twitter_username":"ckaridis89","portfolio_url":"https://www.instagram.com/chriskaridis/","bio":"Amateur
        photographer from Corfu, Greece. Currently living in Thessaloniki, Greece.
        I usually do landscape photography. If you like my photos consider adding
        me on instagram: https://www.instagram.com/chriskarid[...]
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/etwouic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":404,"message":"Not Found"}'
  recorded_at: Tue, 15 Nov 2022 16:23:20 GMT
recorded_with: VCR 6.1.0
