---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=AIzaSyC1pzzcFLRzEGz8KOa8-zb28v799__y-Zs&maxResults=1&q=Malawi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "ho-YS0idh9slNAU4Wt5Ok2-8Fd0",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 19,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "bmFOl_IMa3WPlhx5uhq7pzgj7Bo",
              "id": {
                "kind": "youtube#video",
                "videoId": "QcJowpMp5qQ"
              }
            }
          ]
        }
  recorded_at: Sat, 12 Nov 2022 17:43:17 GMT
recorded_with: VCR 6.1.0
