---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<google_api_key>&maxResults=1&q=Malawi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "1z8CeAG6VNDF19ULm_SxWjbR4kk",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 21,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "bmFOl_IMa3WPlhx5uhq7pzgj7Bo",
              "id": {
                "kind": "youtube#video",
                "videoId": "QcJowpMp5qQ"
              }
            }
          ]
        }
  recorded_at: Mon, 14 Nov 2022 23:02:44 GMT
recorded_with: VCR 6.1.0
